.exp-login-panel {
    width: 100%;
    height: 100%;
    position: relative;
    font-size: x-large;
    background-color: #e9e6e6;
}

.exp-login-panel-btn {
    display: grid;
    grid-row-gap: 0.5rem;
}

.exp-login-panel button {
    border-radius: 1rem;
    width: auto;
}

.exp-login-panel input,
.exp-login-panel select{
    border-radius: 1rem;
    margin-left: 0.7rem;
    padding: 0.2rem 0.4rem;
}

.exp-login-panel>div {
    width: max-content;
    height: max-content;
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-row-gap: 2.5rem;
    grid-auto-rows: max-content;
    /*grid-template-rows: max-content;*/
    justify-items: center;
}

.exp-login-admin-details-chk {
    color: darkmagenta;
}

.exp-login-admin-details-chk:hover{
    color: orangered;
}

.exp-login-panel>div>label {
    font-size: xx-large;
    color: blue;
    text-shadow: 0 0 20px orangered;
}

.exp-login-panel>div>div td {
    padding-bottom: 1rem;
}

.exp-login-panel>div>div>div {

}

.exp-login-panel>div>div select{
}


.exp-login-panel-id input {
    width: 30rem;
}

.exp-login-panel-age input {
    width: 5rem;
}

.exp-login-errors-p {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    top: 0;
    left: 0;
    z-index: 99999;
}

.exp-login-errors {
    position: absolute;
    left: 50%;
    top: 43%;
    transform: translate(-50%, -50%);
    width: max-content;
    height: max-content;
    padding: 1rem 5rem;
    grid-template-rows: max-content max-content max-content max-content;
    background-color: #ffffff;
    z-index: 99;
    border: 5px solid red;
    grid-row-gap: 2rem;
    font-size: x-large;
    /*border-radius: 5%;*/
    border-radius: 2rem;
    display: grid;
}


.exp-login-errors button {
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
}

.exp-login-errors>div {
    display: grid;
}

.exp-login-errors>div {
    font-size: x-large;
    font-weight: bold;
    color: #062358;
}

.exp-login-errors button {
    margin: auto;
}

.exp-login-item-error {
    border: 1px solid red;
}

.exp-login-panel-gender select option[value="Male"]   { background-image:url('spinner.gif');   }
