.dfe-pattern-template{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 0.2rem;
}

.tr-counters-info div {
    display: grid;
    align-items: center;
    grid-template-columns: max-content max-content;
    grid-column-gap: 1rem;
}

.tr-counters-info div label{
    margin: 0 !important;
    padding: 0.3rem 0.7rem;
}

.tr-counters-info td{
    padding: 0.3rem 0.7rem;
}

.tr-counters-info button {
    padding: 0.1rem 0.5rem;
}

.tr-counters-info button:hover {
    background-color: blue;
    color: white;
}

.tr-counters-info button:active {
    background-color: #1292b8;
}
