.castle_name {
    position: absolute;
    top: 20%;
    transform: translate(-50%, -50%) scale(0.28);
    z-index: 99999;
    /*font-size: 25px;*/
    font-size: min(3vw, 5vh);
    font-weight: bold;
    pointer-events: none;
}

.castle_name * {
    pointer-events: none;
}

.castle_name_left {
    left: 10%;
    transform: rotate(-25deg);
}


.castle_name_right {
    left: 65%;
    transform: rotate(25deg);
}

