.queen_road {
  z-index: 999;
  position: relative;

}
.crown-highway {
  z-index: 999;
  background-color: #7c6b0f;
  width: 25%;
  height: 90%;
  position: fixed;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 39% 100%, 39% 90%, 70% 90%, 70% 10%, 0 10%);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 39% 100%, 39% 90%, 70% 90%, 70% 10%, 0 10%);
}
.crown-highway>label {
  position: absolute;
  top: 50%;
  left: 85%;
  font-size: 40px;
  transform: translate(-50%, -50%) rotate(180deg);
  writing-mode: vertical-lr;
  text-align: center;
  color: white;
}

.crown-highway_signpost {
  width: 200px !important;
  height: 150px !important;
  position: fixed;
  bottom: 5%;
  right: 20%;
}
