.qg_game_load {
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 99999999;
    background-color: var(--BACKGROUND_COLOR);
    top: 0;
    left: 0;
    /*padding: 2%;*/
}

.qg_game_load>div{
    display: flex;
    /*row-gap: 20px;*/
    /*column-gap: 20px;*/
    flex-wrap: wrap;
    width: max-content;
    height: max-content;
    max-width: 100%;
}

.qg_game_load_trees_container {
    /*width: 100px;*/
    /*height: 200px;*/
}

.qg-g-s-b {
    background-color: #00b900;
    color: white;
    padding: 0.4rem 5rem !important;
}
