.rs-range {
    -webkit-appearance: none;
}
.rs-range:focus {
    outline: none;
}
.rs-range::-webkit-slider-runnable-track {
    width: 99%;
    height: 5px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.1);
    border-radius: 999px;
}
.rs-range::-moz-range-track {
    width: 99%;
    height: 3px;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.rs-range::-webkit-slider-thumb {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    height: 42px;
    width: 22px;
    border-radius: 30px;
    background: rgb(235, 235, 235);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
}
.rs-range::-moz-range-thumb {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
    height: 42px;
    width: 22px;
    border-radius: 30px;
    background: rgb(235, 235, 235);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -20px;
}
