.results_container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 9999;
}

.results_container>div {
    position: fixed;
    height: max-content;
    width: max-content;
    max-width: 70vw;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);

    display: grid;
    gap: 5rem;
}

.results_container>div>p {
    background-color: white;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 22px;
}

.results_container>div>img {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    font-size: 22px;
    margin: auto;
}

.results_container>div>label {
    text-align: center;
    color: #3298ff;
    font-size: 40px;
}
