.qg_msg {
    position: fixed;
    z-index: 999999;
    background-color: #dedede;
    padding: 1rem;
    border-radius: 10px;
    border: 3px solid black;
    font-size: 20px;
    width: max-content;
    display: grid;
    row-gap: 0.5rem;
}

.qg_msg p{
    font-size: larger;
}

.qg_msg::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

/* Track */
.qg_msg::-webkit-scrollbar-track {
    background: #000000;
    border-radius: 0px 5px 5px 0px;
}

/* Handle */
.qg_msg::-webkit-scrollbar-thumb {
    background: #067688;
    border-radius: 0px 5px 5px 0px;
}

/* Handle on hover */
.qg_msg::-webkit-scrollbar-thumb:hover {
    background: #214593;
}

.msg_pos_right{
    top: 50%;
    right: 0%;
    transform: translate(-50%, -50%);
    max-width: 15%;
    overflow-y: auto;
    max-height: 85%;
}

.msg_pos_left{
    overflow-y: auto;
    left: 1%;
    top: 2%;
    max-height: 67%;
    max-width: 20%;
}

.msg_pos_center{
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 80vw;
}

.msg_pos_toll_road_1 {
    top: 50%;
    right: 20%;
    transform: translate(-50%, -50%);
    max-width: 20%;
    overflow-y: auto;
    max-height: 85%;
}
.msg_pos_toll_road_2 {
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
    max-width: 20%;
    overflow-y: auto;
    max-height: 85%;
}
.msg_pos_toll_road_3 {
    top: 50%;
    left: 30%;
    transform: translate(-50%, -50%);
    max-width: 20%;
    overflow-y: auto;
    max-height: 85%;
}
.msg_pos_toll_road_4 {
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
    max-width: 20%;
    overflow-y: auto;
    max-height: 85%;
}
.msg_pos_toll_road_queen {
    top: 50%;
    right: 5%;
    transform: translate(-50%, -50%);
    max-width: 20%;
    overflow-y: auto;
    max-height: 85%;
}


.msg_pos_gain_msg_1,
.msg_pos_gain_msg_2 {
    top: 45%;
    right: 5%;
    transform: translate(-50%, -50%);
    max-width: 20%;
    overflow-y: auto;
    max-height: 85%;
}

.msg_pos_gain_msg_3,
.msg_pos_gain_msg_4 {
    top: 45%;
    left: 25%;
    transform: translate(-50%, -50%);
    max-width: 20%;
    overflow-y: auto;
    max-height: 85%;
}

.msg_pos_gain_msg_queen {
    top: 55%;
    right: 5%;
    transform: translate(-50%, -50%);
    max-width: 20%;
    overflow-y: auto;
    max-height: 85%;
}

.qg_msg>button {
    margin: auto;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    font-size: 22px;
    cursor: pointer;
}

.qg_msg>button:hover {
    cursor: pointer;
}


.qg_cht_img {
    width: 100px;
    margin: auto;
}

.qg_msg_sad_flower {
    position: fixed;
    z-index: 9999999;
}

.qg_msg_sad_flower_1 {
    top: 60%;
    left: 15%;
    rotate: -90deg;
    animation: kf_msg_sad_flower_1 .5s linear forwards;
}
.qg_msg_sad_flower_2 {
    top: 59%;
    left: 30%;
    rotate: -90deg;
    animation: kf_msg_sad_flower_2 .5s linear forwards;
}
.qg_msg_sad_flower_3 {
    top: 59%;
    left: 45%;
    rotate: -90deg;
    animation: kf_msg_sad_flower_3 .5s linear forwards;
}
.qg_msg_sad_flower_4 {
    top: 59%;
    right: 22%;
    rotate: 90deg;
    animation: kf_msg_sad_flower_4 .5s linear forwards;
}

@keyframes kf_msg_sad_flower_1 {
    0% {
        top: 60%;
        left: 15%;
        rotate: -90deg;
    }
    25% {
        top: 50%;
        left: 12%;
        scale: 1.5;
        rotate: -60deg;
    }
    50% {
        top: 40%;
        left: 10%;
        scale: 2.5;
        rotate: -30deg;
    }
    100% {
        top: 30%;
        left: 10%;
        scale: 3;
        rotate: 0deg;
    }
}
@keyframes kf_msg_sad_flower_2 {
    0% {
        top: 59%;
        left: 30%;
        rotate: -90deg;
    }
    25% {
        top: 50%;
        left: 28%;
        scale: 1.5;
        rotate: -60deg;
    }
    50% {
        top: 40%;
        left: 26%;
        scale: 2.5;
        rotate: -30deg;
    }
    100% {
        top: 30%;
        left: 25%;
        scale: 3;
        rotate: 0deg;
    }
}
@keyframes kf_msg_sad_flower_3 {
    0% {
        top: 59%;
        left: 45%;
        rotate: -90deg;
    }
    25% {
        top: 55%;
        left: 56%;
        scale: 1.5;
        rotate: -160deg;
    }
    50% {
        top: 50%;
        left: 60%;
        scale: 2.5;
        rotate: -220deg;
    }
    100% {
        top: 40%;
        left: 65%;
        scale: 3;
        rotate: -360deg;
    }
}
@keyframes kf_msg_sad_flower_4 {
    0% {
        top: 59%;
        right: 22%;
        rotate: 90deg;
    }
    33% {
        top: 52%;
        right: 19%;
        scale: 1.5;
        rotate: 70deg;
    }
    65% {
        top: 45%;
        right: 15%;
        scale: 2.5;
        rotate: 50deg;
    }
    100% {
        top: 40%;
        right: 16%;
        scale: 3;
        rotate: 0deg;
    }
}

