.All-trees {
    position: fixed;
    width: var(--TREES_ROADS_WIDTH);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: var(--TREES_ROADS_HEIGHT);
    overflow: hidden;
    display: block;
    z-index: 5;
}

.tree_container {
    position: absolute;
    aspect-ratio: 0.5;
    width: var(--TREE_WIDTH);
    height: var(--TREE_HEIGHT);
    font-size: 7px !important;
}

.tree {
    height: 100%;
    width: 100%;
    position: relative;
    display: inline-block;
}

.tree .trunk {
    bottom: 0;
    left: 35%;
    height: 30%;
    position: absolute;
    width: 30%;
    background-color: #d95006;
    clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
}

.tree .branches {
    border-color: #00cb00 transparent;
    background-color: #00cb00;
    height: 50%;
    position: absolute;
    width: 100%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    left: 50%;
}

.tree .bottom {
    top: 60%;
    transform: translate(-50%, -50%);
    animation:treeBranchesAnimation 5.5s linear 1s infinite forwards;
}

.tree .middle {
    top: 42%;
    transform: translate(-50%, -50%);
    animation:treeBranchesAnimation 3.5s linear 1s infinite forwards;

}

.tree .top {
    top: 26%;
    transform: translate(-50%, -50%);
    animation:treeBranchesAnimation 2.5s linear 1s infinite forwards;
}

@keyframes treeBranchesAnimation{
    0%{
        border-bottom-left-radius: 50% 0%;
        border-bottom-right-radius: 50% 35%;
    }
    50%{
        border-bottom-left-radius: 50% 35%;
        border-bottom-right-radius: 50% 0%;
    }
    100%{
        border-bottom-left-radius: 50% 0%;
        border-bottom-right-radius: 50% 35%;
    }
}
