.qg_wagon {
    display: grid;
    position: fixed;
    grid-template-rows: max-content max-content;
    transition: all var(--WAGON_ANIMATION_TIMING) linear;
    z-index: 15;
}

.qg_wagon_flower {
    top: -72%;
    left: 25%;
    width: max-content;
    height: max-content;
    position: absolute;
}

.qg_wagon_place_game_load {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: kf_qg_wagon_place_game_load 2s linear infinite;
}

@keyframes kf_qg_wagon_place_game_load {
    0%{
        transform: translate(-50%, -50%) rotate(0deg);
    }
    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


.qg_wagon_place_base {
    top: 87%;
    left: 42%;
}

.qg_wagon_place_queen {
    top: 87%;
    left: 77%;
}

.qg_wagon_place_1 {
    top: 75%;
    left: 20%;
}

.qg_wagon_place_2 {
    top: 75%;
    left: 35%;
}

.qg_wagon_place_3 {
    top: 75%;
    left: 50%;
}

.qg_wagon_place_4 {
    top: 75%;
    left: 65%;
}

.qg_wagon_base {
    border-style: solid;
    border-width: 0px 7px 17px 7px;
    height: 50px;
    /*scale: 1.1;*/
}

.wagon_wheel {}

.wagon_wheel.wheel-back {
    -webkit-animation: spin var(--WHEELS_ANIMATION_TIMING) linear infinite; /* Safari browser */
    animation: spin-back var(--WHEELS_ANIMATION_TIMING) linear infinite;
    /*direction: rtl;*/
}

.wagon_wheel.wheel-forward {
    -webkit-animation: spin var(--WHEELS_ANIMATION_TIMING) linear infinite; /* Safari browser */
    animation: spin-forward var(--WHEELS_ANIMATION_TIMING) linear infinite;
    /*direction: rtl;*/
}

/* for Safari browser  */
@-webkit-keyframes spin-back {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(-360deg); }
}

@keyframes spin-back {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}
/* for Safari browser  */
@-webkit-keyframes spin-forward {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin-forward {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.qg_wagon_place_castle_full_1 {
    animation: kf_castle_full_1 1s linear forwards;
}
.qg_wagon_place_castle_toll_1 {
    animation: kf_castle_toll_1 1s linear forwards;
}
.qg_wagon_place_castle_toll_finish_to_end_1 {
    animation: kf_castle_toll_finish_to_end_1 1s linear forwards;
}
.qg_wagon_place_castle_toll_finish_1 {
    animation: kf_castle_toll_finish_1 1s linear forwards;
}
.qg_wagon_place_castle_return_1 {
    animation: kf_castle_return_1 1s linear forwards;
}

.qg_wagon_place_castle_full_2 {
    animation: kf_castle_full_2 1s linear forwards;
}
.qg_wagon_place_castle_toll_2 {
    animation: kf_castle_toll_2 1s linear forwards;
}
.qg_wagon_place_castle_toll_finish_2 {
    animation: kf_castle_toll_finish_2 1s linear forwards;
}
.qg_wagon_place_castle_return_2 {
    animation: kf_castle_return_2 1s linear forwards;
}

.qg_wagon_place_castle_full_3 {
    animation: kf_castle_full_3 1s linear forwards;
}
.qg_wagon_place_castle_toll_3 {
    animation: kf_castle_toll_3 1s linear forwards;
}
.qg_wagon_place_castle_toll_finish_3 {
    animation: kf_castle_toll_finish_3 1s linear forwards;
}
.qg_wagon_place_castle_return_3 {
    animation: kf_castle_return_3 1s linear forwards;
}

.qg_wagon_place_castle_full_4 {
    animation: kf_castle_full_4 1s linear forwards;
}
.qg_wagon_place_castle_toll_4 {
    animation: kf_castle_toll_4 1s linear forwards;
}
.qg_wagon_place_castle_toll_finish_4 {
    animation: kf_castle_toll_finish_4 1s linear forwards;
}
.qg_wagon_place_castle_return_4 {
    animation: kf_castle_return_4 1s linear forwards;
}

.qg_wagon_place_castle_full_queen {
    animation: kf_castle_full_queen 1s linear forwards;
}
.qg_wagon_place_castle_toll_queen {
    animation: kf_castle_toll_queen 1s linear forwards;
}
.qg_wagon_place_castle_toll_finish_queen {
    animation: kf_castle_toll_finish_queen 1s linear forwards;
}
.qg_wagon_place_castle_return_queen {
    animation: kf_castle_return_queen 1s linear forwards;
}

@keyframes kf_castle_full_1 {
    0% {
        top: 75%;
        left: 20%;
        rotate: -90deg;
    }
    50% {
        top: 25%;
        left: 20%;
        rotate: -90deg;
    }
    100% {
        top: 15%;
        left: 40%;
    }
}
@keyframes kf_castle_toll_1 {
    0% {
        top: 75%;
        left: 20%;
        rotate: -90deg;
    }
    100% {
        top: 55%;
        left: 20%;
        rotate: -90deg;
    }
}
@keyframes kf_castle_toll_finish_to_end_1 {
    0% {
        top: 45%;
        left: 20%;
        rotate: -90deg;
    }
    50% {
        top: 15%;
        left: 20%;
        rotate: -90deg;
    }
    100% {
        top: 15%;
        left: 40%;
    }
}
@keyframes kf_castle_toll_finish_1 {
    0% {
        top: 45%;
        left: 20%;
        rotate: -90deg;
    }
    100% {
        top: 75%;
        left: 20%;
    }
}
@keyframes kf_castle_return_1 {
    0% {
        top: 15%;
        left: 40%;
    }
    50% {
        top: 25%;
        left: 20%;
        rotate: 90deg;
    }
    100% {
        top: 75%;
        left: 20%;
    }
}

@keyframes kf_castle_full_2 {
    0% {
        top: 75%;
        left: 35%;
        rotate: -90deg;
    }
    50% {
        top: 25%;
        left: 35%;
        rotate: -90deg;
    }
    100% {
        top: 15%;
        left: 40%;
    }
}
@keyframes kf_castle_toll_2 {
    0% {
        top: 75%;
        left: 35%;
        rotate: -90deg;
    }
    100% {
        top: 55%;
        left: 35%;
        rotate: -90deg;
    }
}
@keyframes kf_castle_toll_finish_2 {
    0% {
        top: 45%;
        left: 35%;
        rotate: -90deg;
    }
    100% {
        top: 75%;
        left: 35%;
    }
}
@keyframes kf_castle_return_2 {
    0% {
        top: 15%;
        left: 40%;
    }
    50% {
        top: 25%;
        left: 35%;
        rotate: 90deg;
    }
    100% {
        top: 75%;
        left: 35%;
        rotate: 90deg;
    }
}

@keyframes kf_castle_full_3 {
    0% {
        top: 75%;
        left: 50%;
        rotate: -90deg;
    }
    50% {
        top: 25%;
        left: 50%;
        rotate: -90deg;
    }
    100% {
        top: 15%;
        left: 55%;
    }
}
@keyframes kf_castle_toll_3 {
    0% {
        top: 75%;
        left: 50%;
        rotate: -90deg;
    }
    100% {
        top: 55%;
        left: 50%;
        rotate: -90deg;
    }
}
@keyframes kf_castle_toll_finish_3 {
    0% {
        top: 45%;
        left: 50%;
        rotate: -90deg;
    }
    100% {
        top: 75%;
        left: 50%;
    }
}
@keyframes kf_castle_return_3 {
    0% {
        top: 15%;
        left: 55%;
    }
    50% {
        top: 25%;
        left: 50%;
        rotate: 90deg;
    }
    100% {
        top: 75%;
        left: 50%;
        rotate: 90deg;
    }
}

@keyframes kf_castle_full_4 {
    0% {
        top: 75%;
        left: 65%;
        rotate: 90deg;
    }
    50% {
        top: 25%;
        left: 65%;
        rotate: 90deg;
    }
    100% {
        top: 15%;
        left: 55%;
    }
}
@keyframes kf_castle_toll_4 {
    0% {
        top: 75%;
        left: 65%;
        rotate: 90deg;
    }
    100% {
        top: 55%;
        left: 65%;
        rotate: 90deg;
    }
}
@keyframes kf_castle_toll_finish_4 {
    0% {
        top: 45%;
        left: 65%;
        rotate: 90deg;
    }
    100% {
        top: 75%;
        left: 65%;
    }
}
@keyframes kf_castle_return_4 {
    0% {
        top: 15%;
        left: 55%;
    }
    50% {
        top: 25%;
        left: 65%;
        rotate: 90deg;
    }
    100% {
        top: 75%;
        left: 65%;
        rotate: 90deg;
    }
}

@keyframes kf_castle_full_queen {
    0% {
        top: 87%;
        left: 77%;
    }
    15% {
        top: 87%;
        left: 92%;
    }
    20% {
        rotate: 90deg;
        top: 87%;
        left: 92%;
    }
    50% {
        top: 50%;
        left: 92%;
        rotate: 90deg;
    }
    60% {
        top: 15%;
        left: 92%;
        rotate: 90deg;
    }
    70% {
        top: 15%;
        left: 92%;
        rotate: 90deg;
    }
    80% {
        top: 15%;
        left: 92%;
    }
    85% {
        top: 15%;
        left: 85%;
    }
    100% {
        top: 15%;
        left: 55%;
    }
}
@keyframes kf_castle_toll_queen {
    0% {
        top: 87%;
        left: 77%;
    }
    15% {
        top: 87%;
        left: 92%;
    }
    20% {
        rotate: 90deg;
        top: 87%;
        left: 92%;
    }
    50% {
        top: 50%;
        left: 92%;
        rotate: 90deg;
    }
    60% {
        top: 15%;
        left: 92%;
        rotate: 90deg;
    }
    70% {
        top: 15%;
        left: 92%;
        rotate: 90deg;
    }
    80% {
        top: 15%;
        left: 92%;
    }
    100% {
        top: 15%;
        left: 85%;
    }
}
@keyframes kf_castle_toll_finish_queen {
    0% {
        top: 15%;
        left: 85%;
    }
    100% {
        top: 15%;
        left: 55%;
    }
}
@keyframes kf_castle_return_queen {
    100% {
        top: 87%;
        left: 77%;
    }
    85% {
        top: 87%;
        left: 92%;
    }
    80% {
        rotate: -90deg;
        top: 87%;
        left: 92%;
    }
    70% {
        top: 50%;
        left: 92%;
        rotate: -90deg;
    }
    60% {
        top: 15%;
        left: 92%;
        rotate: -90deg;
    }
    50% {
        top: 15%;
        left: 92%;
        rotate: -90deg;
    }
    20% {
        top: 15%;
        left: 92%;
    }
    15% {
        top: 15%;
        left: 85%;
    }
    0% {
        top: 15%;
        left: 55%;
    }
}
