.mind-game-container {
  display: flex;
  flex-direction: column; /* Display components vertically */
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust the height as needed */
  padding: 30px; /* Add padding around the container */
  font-size: 25px;
}

.mind-game-container > * {
  margin-bottom: 30px; /* Add margin between each component */
}
.mind-game_d-sum-l-rp {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  column-gap: 0.5rem;
  border: 1px solid;
  width: max-content;
  padding: 5px 10px;
}

.tog_d-sum-l-rpi {
  margin-left: 5px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  column-gap: 10px;
  align-items: center;
}
.tog_debug {
  display: grid;
  padding: 0.5rem 0.7rem;
}

.tog_debug label {
  color: black;
}
.tog_debug span {
  color: #8103a0;
  margin-left: 5px;
}

.tog_debug>div {
  border: 1px solid black;
  padding: 0.25rem;
  display: grid;
  background-color: #8d8d8d;
}
.practice-is-over {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 700px;
  margin: 0 auto;
}

.practice-is-over h3 {
  font-size: 36px; /* Adjust the font size for the heading */
}

.practice-is-over p {
  font-size: 32px; /* Adjust the font size for the paragraph */
}

.practice-is-over button {
  padding: 10px 20px; /* Adjust the padding to increase button size */
  font-size: 18px; /* Adjust the font size of the button text */
  
}

.introduction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  height: 100vh;
  width: 1300px;
  margin: 0 auto;
}

.button-container {
  display: flex;
  justify-content: center;
  gap: 25px; /* Adds space between the buttons */
  border-radius: 30px;
  box-shadow: rgba(0,0,0,0.1);
}

.button-container button {
  padding: 10px 25px;
  font-size: 18px;
  border-radius: 10px;
}