.qg_delivery_failed,
.qg_delivery_toll,
.qg_delivery_gain {
    display: grid;
    grid-row-gap: 25px;
}

/*.qg_delivery_failed img,*/
/*.qg_delivery_toll img,*/
/*.qg_delivery_gain img{*/
/*    max-width: 100%;*/
/*    max-height: 100%;*/
/*    margin: auto auto 20px auto;*/
/*    position: fixed;*/
/*    top: 300px;*/
/*}*/

.qg_game_msg_img {
    width: 10%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 999999;
}

.qg_game_msg_img_scale_failed {
    animation: qg_scale_up 1s linear forwards;
}

.qg_game_msg_img_scale_gain {
    animation: qg_scale_up_gain 1s linear forwards;
}

.qg_game_msg_img_scale_default {
    animation: qg_scale_up 1s linear forwards;
}

.qg_game_msg_img_pos_1 {
    top: 40%;
    left: 25%;
}

.qg_game_msg_img_pos_2 {
    top: 40%;
    left: 40%;
}

.qg_game_msg_img_pos_3 {
    top: 40%;
    left: 55%;
}

.qg_game_msg_img_pos_4 {
    top: 40%;
    left: 70%;
}

.qg_game_msg_img_pos_queen {
    top: 15%;
    left: 75%;
}


@keyframes qg_scale_up {
    0% {
        width: 5%;
    }

    100% {
        width: 13%;
    }
}

@keyframes qg_scale_up_gain {
    0% {
        width: 5%;
    }

    100% {
        width: 22%;
    }
}

