/* My first comment*/
/* My second comment*/
/* Third comment */
/* Forth comment */
@media screen and (max-width: 500px) {

}
/*@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {*/

/*}*/
/*@media screen and (max-width: 900px) and (min-width: 600px), (min-width: 1100px) {*/

/*}*/
@media screen and (min-width: 600px) and (max-width: 900px){

}


@media screen and (min-width: 900px){

}


/*   Settings   */

.ct-btn-settings {
    grid-area: pgBtnSettings;
    width: min-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0.5rem;
}


.ct-general-settings {
    grid-area: ctGeneralSettings;
    height: max-content;
    padding: 0.5rem;
    display: grid;
    margin-bottom: 3rem;
}

.ct-general-settings > div {
    display: flex;
    margin-top: 3rem;
}

.ct-set-optional-tasks-list,
.ct-set-languages,
.ct-set-location {
    display: grid;
    margin-left: 2rem;
    margin-right: 2rem;
}

.ct-set-optional-tasks-list>div{
    display: grid;
    grid-template-columns: auto max-content;
    grid-column-gap: 0.5rem;
}

.ct-set-pl-settings {
    margin-left: 2rem;
    margin-right: 5rem;
}

.ct-set-pattern-settings {
    margin-right: 5rem;
    margin-left: 2rem;
}

.ct-set-payment-settings,
.ct-set-rx-settings {
    margin-left: 2rem;
    margin-right: 5rem;
}


table th{
    /*border: 1px solid black;*/
    /*text-align: left;*/
    /*padding-left: 1rem;*/
    /*padding-right: 1rem;*/
    /*padding-top: 0.5rem;*/
    /*padding-bottom: 0.5rem;*/
    /*background-color: dodgerblue;*/
    /*cursor: pointer;*/
}

table td{
    /*border: 1px solid black;*/
    /*text-align: left;*/
    /*background-color: lightskyblue;*/
    /*padding: 0.3rem;*/
}



/*   Settings   */



/* Reports */

.ct-reports-panel-box {
    overflow: visible;
}

.ct-reports-tables {
    margin-top: 3rem;
    padding: 1rem;
}

.ct-reports-tables label {
    font-size: xx-large;
    font-weight: bold;
}

.ct-reports-tables div {
    max-height: 15rem;
    height: max-content;
    overflow-y: scroll;
    overflow-x: visible;
    width: max-content;
}

.ct-reports-btn-box {
    display: flex;
}

.ct-reports-btn-box {
    margin: auto;
    width: max-content;
}
.ct-reports-btn-box * {
    margin-left: 1rem;
}
/* Reports */
