/*.qg_game_road {*/
/*    position: fixed;*/
/*    top: 50%;*/
/*    transform: translate(-50%, -50%);*/
/*    background-color: #8103a0;*/
/*    z-index: 3;*/
/*    width: calc((var(--TREES_ROADS_WIDTH) / 4) - 8%);*/
/*    height: calc(var(--TREES_ROADS_HEIGHT) + 15%);*/
/*    !*border-radius: 5%;*!*/
/*    !*box-shadow: 25px 1px 0 35px #fff77e;*!*/
/*    !*-webkit-clip-path: polygon(31% 0, 64% 0, 100% 100%, 0% 100%);*!*/
/*    !*clip-path: polygon(31% 0, 64% 0, 100% 100%, 0% 100%);*!*/
/*}*/

/*.qg_game_road>div{*/
/*    background-color: #002385;*/
/*    position: relative;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    top: 0;*/
/*    left: 0;*/
/*}*/

.qg_game_road {
    position: fixed;
    top: 49%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 5%;
    height: 45%;
    left: 50%;
}

.qg_game_road_box {
    width: 100%;
    height: 100%;
    background-color: #81817d;
    /*position: relative;*/
    top: 0;
    left: 0;
    /*-webkit-clip-path: polygon(50% 0%, 64% 0, 39% 29%, 37% 62%, 75% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);*/
    /*clip-path: polygon(50% 0%, 64% 0, 39% 29%, 37% 62%, 75% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);*/
}

.qg_game_road_left_1 {
    left: 25%;
}

.qg_game_road_left_2 {
    left: 40%;
}

.qg_game_road_left_3 {
    left: 55%;
}

.qg_game_road_left_4 {
    left: 70%;
}

.qg_game_road_1 {
    -webkit-clip-path: polygon(50% 0%, 64% 0, 39% 29%, 37% 62%, 75% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    clip-path: polygon(50% 0%, 64% 0, 39% 29%, 37% 62%, 75% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}

.qg_game_road_2 {
    -webkit-clip-path: polygon(61% 0, 79% 19%, 93% 55%, 60% 73%, 68% 100%, 32% 100%, 6% 78%, 48% 45%, 30% 0);
    clip-path: polygon(61% 0, 79% 19%, 93% 55%, 60% 73%, 68% 100%, 32% 100%, 6% 78%, 48% 45%, 30% 0);
}

.qg_game_road_3 {
    -webkit-clip-path: polygon(60% 0, 51% 23%, 96% 33%, 96% 69%, 68% 100%, 32% 100%, 74% 58%, 36% 41%, 38% 0);
    clip-path: polygon(60% 0, 51% 23%, 96% 33%, 96% 69%, 68% 100%, 32% 100%, 74% 58%, 36% 41%, 38% 0);
}

.qg_game_road_4 {
    -webkit-clip-path: polygon(50% 0%, 64% 0, 39% 29%, 37% 62%, 75% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
    clip-path: polygon(50% 0%, 64% 0, 39% 29%, 37% 62%, 75% 100%, 32% 100%, 6% 78%, 0% 43%, 17% 12%);
}
